# Application
NODE_ENV=development
PORT=5000
# password= 78CPivk9hfyoDzQK
#username= karangwacyrille

# Database
MONGODB_URI=mongodb+srv://karangwacyrille:78CPivk9hfyoDzQK@cluster0.zszosz6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JWT Configuration
JWT_SECRET=6a6bd2eff034f0ba70b48f779ea84df6f61d04df27baf7e9aa905a8dd91c983c
JWT_REFRESH_SECRET=1775bd90cd9a8594aa0258986456781b5851ed75f35feefae5ac82003c8a877a
JWT_EXPIRE=24h
JWT_REFRESH_EXPIRE=7d

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=karangwacyrille@gmail.com
SMTP_PASS=Karangwa@7
FROM_EMAIL=noreply@rugalika.gov.rw

# File Upload
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=50MB

# Rate Limiting
RATE_LIMIT_WINDOW=15
RATE_LIMIT_MAX_REQUESTS=100

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Admin Configuration
ADMIN_EMAIL=karangwacyrille@gmail.com
